*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Segoe UI,Arial,sans-serif;

background:#f7f8fb;

color:#20252d;

}

.container{

width:1100px;

margin:auto;

}

header{

background:white;

border-bottom:1px solid #e7e7e7;

}

header .container{

display:flex;

justify-content:space-between;

align-items:center;

height:72px;

}

.logo{

font-size:26px;

font-weight:700;

color:#36516d;

}

nav a{

margin-left:34px;

text-decoration:none;

color:#606060;

transition:.2s;

}

nav a:hover{

color:#36516d;

}

.hero{

padding:120px 0;

text-align:center;

}

.hero h1{

font-size:56px;

font-weight:700;

margin-bottom:24px;

}

.hero p{

font-size:22px;

color:#666;

margin-bottom:45px;

}

.button{

display:inline-block;

padding:18px 40px;

background:#36516d;

color:white;

border-radius:8px;

text-decoration:none;

font-size:18px;

transition:.2s;

}

.button:hover{

background:#27445d;

}
